{% extends 'auth/maindash.html' %}
{% load static %}

{% block content %}
<div class="main">
    {% include 'auth/nav.html' %}
    <main class="content px-3 py-2">
        <div class="mb-3">Calendar Page</div>
        
        <div class="row justify-content-center">
            {% for day in days_of_week %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card shadow-lg rounded-3 border-0">
                        <div class="card-body text-center py-4">
                            <h4 class="text-primary mb-2">
                                {{ day.date }}
                            </h4>
                            <p class="text-muted mb-2">
                                {{ day.name }}
                            </p>
                            <div>
                                <span class="badge text-white">
                                    <a href="/" class="text-white text-decoration-none">View</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </main>
</div>
{% endblock %}
