{% extends 'auth/maindash.html' %}
{% load static %}

{% block content %}
<div class="main">
    {% include 'auth/nav.html' %}

    <main class="content px-4 py-3">
        <div class="mb-4">
            <h2>Dashboard</h2>
            <p class="text-muted">Manage and view your schedule in one place.</p>
        </div>
        <div class="container-fluid">

            <!-- Financial Overview Section -->
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4 class="mb-2">₦ 78,000.00</h4>
                            <p>Total Expenses</p>
                            <small class="text-muted">January</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4 class="mb-2">₦ 120,000.00</h4>
                            <p>Total Earnings</p>
                            <small class="text-muted">January</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4 class="mb-2">₦ 42,000.00</h4>
                            <p>Total Profit</p>
                            <small class="text-muted">January</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
{% endblock %}
